---
import type { PostMeta } from '@/types'
import { useTranslations } from '@/i18n'
import { themeConfig } from '@/config/default'

interface Props {
  post: PostMeta
}

const { post } = Astro.props
const t = useTranslations(Astro)

const date = new Date(post.date).toLocaleDateString(themeConfig.site.language, {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})
---

<div class="flex flex-wrap items-center gap-x-4 gap-y-2 text-sm text-gray-500 dark:text-gray-400">
  <time datetime={post.date}>{date}</time>
  {
    post.categories && (
      <div class="flex items-center gap-1">
        <span>·</span>
        <div class="flex flex-wrap items-center gap-2">
          {post.categories.map((category) => (
            <a
              href={`/categories/${category}`}
              class="hover:text-gray-700 dark:hover:text-gray-300"
            >
              {category}
            </a>
          ))}
        </div>
      </div>
    )
  }
  {
    post.readingTime && (
      <div class="flex items-center gap-1">
        <span>·</span>
        <span>{post.readingTime} {t('post.readingTime')}</span>
      </div>
    )
  }
</div>
